:root {
  --primary-color: #1C1C1C;
  --secondary-color: #FF6F61;
  --background-color: #1C1C1C;
  --text-color: white;
  --heading-font: "Saira", sans-serif;
  --text-font: "Mulish";
}

body {
  color: var(--text-color);
  background-color: var(--background-color);
  font-family: "Mulish";
}

#fp-nav ul li .fp-tooltip {
  font-family: var(--text-font) !important;
}

#contact-menu > ul > li {
  font-family: "Mulish";
}
#fullpage > div.section.fp-section.fp-table.fp-is-overflow.active.fp-loaded.fp-completely > div.fp-watermark {
  display: none;
}
#fp-nav > ul > li > div{
  display: none !important;
}